<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="login"></ion-back-button>
    </ion-buttons>
    <ion-title>Esqueceu a senha ?</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
      <ion-item>
        <h4>
          Para recuperar a senha, digite o email cadastrado no campo abaixo:
        </h4>
      </ion-item>

      <ion-item lines="full">
        <ion-icon name="mail" color="primary" slot="start" ></ion-icon>
        <ion-input type="email" clearInput placeholder="Email" [(ngModel)]="email"></ion-input>
      </ion-item>

      <ion-button type="submit" expand="block" (click)="recoverPassword()" >Recuperar senha</ion-button>
      <ion-button expand="block" color="light" routerLink="/sign-up">Criar conta</ion-button>
      <ion-button expand="block" routerLink="/sign-in">Fazer login</ion-button>     
       
  </ion-card>
</ion-content>
